<section class="hero-content">
   <h1 class="hero-title">{{ landing.heroTitle }}</h1>
</section>

 <section class="selling-points container clearfix">
   <div class="point column third">
       <span class="ion-music-note"></span>
       <h5 class="point-title">My Playlists</h5>
       <p class="point-description">Put my thing down, flip it and reverse it. Ti esrever dna ti pilf, nwod gniht ym tup.</p>
   </div>
   <div class="point column third">
       <span class="ion-radio-waves"></span>
       <h5 class="point-title">Unlimited Streaming</h5>
       <p class="point-description">No arbitrary limits. No distractions. No diggity, no doubt.</p>
   </div>
   <div class="point column third">
       <span class="ion-iphone"></span>
       <h5 class="point-title">My Devices</h5>
       <p class="point-description">Listen to music on the go. This streaming service is available on all mobile platforms.</p>
   </div>
</section>
